.container {
  padding-top: 1.5rem;
  display: block;
  align-items: center;
  justify-content: center;
}
.button_link {
  cursor: pointer;
  color: var(--white);
  background: var(--blue);
  text-decoration: none;
  border-radius: 5px;
  padding: 1rem;
  outline: none;
  border: none;
}
