* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --blue: #6415ff;
  --white: #ffffff;
  --black: #243e63;
  --grey: #667892;
  --font-size-small:12px
  --font-size-base: 14px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-larger: 30px;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}