.main_container {
  padding: 1.5rem 0;
}
.content {
  display: flex;
  gap: 5rem;
  padding-top: 2rem;
}
.content:nth-child(2n) {
  flex-direction: row-reverse;
}
.image_wrapper {
  width: 100%;
  height: 400px;
  flex: 1;
  position: relative;
}
.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .content {
    display: block;
  }
}
